body {
    font-family: "JetBrains Mono", monospace, "Century Schoolbook L";
}


#lower_left {
    bottom: 0;
    left: 0;

    margin-bottom: 5px;
    margin-left: 5px;
    width: 300px;
    height: 300px;
    border: 5px solid mediumaquamarine;
    position: fixed;
    resize: both;
    overflow: scroll;
}

#lower_right {
    bottom: 0;
    right: 0;

    margin-top: 5px;
    margin-right: 5px;
    width: 300px;
    height: 300px;
    border: 5px solid aqua;
    position: fixed;
    resize: both;
    overflow: scroll;


}

#upper_right {
    top: 0;
    right: 0;

    margin-top: 5px;
    margin-right: 5px;
    width: 300px;
    height: 300px;
    border: 5px solid blue;
    position: fixed;
    resize: both;
    overflow: scroll;
}

#upper_left {
    top: 0;
    left: 0;

    margin-top: 5px;
    margin-right: 5px;
    width: 300px;
    height: 300px;
    border: 5px solid blueviolet;
    position: fixed;
    resize: both;
    overflow: auto;

}

#link {
    text-align: center;
}

#link a {
    background-color: crimson;
    color: antiquewhite;
}